@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-image: url('./Images/80.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  image-rendering: optimizeQuality;
  transition: 0.5s;
}


#root {
  flex-grow: 1;
 
  
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  
}

.Header {
  font-size: 1.5rem;
  color: #fff;
}

.searchForm {
  flex-grow: 1;
  margin-left: 1rem;
}

.Nav label {
  display: none;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  
}

.Nav ul li {
  margin: 0 0.5rem 0.5rem 0;
  
}

@media (max-width: 768px) {
  .Nav {
    flex-direction: column;
  }

  .searchForm {
    margin: 1rem 0;
  }

  .Nav label {
    display: none;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .Nav ul li {
    margin: 0.5rem 0;
    padding: 0.5rem;
   
  }
}
.Content {
  padding: 1rem;
  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
}

.Content img {
  width: 100%;
  max-width: 200px;
  height: 400px;
  margin-right: 1rem;
  transition: 0.5s;
  border-radius: 20px;
  image-rendering: optimizeQuality;
  
}


.Content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; /* take up remaining space */
}

.Content .info h2 {
  margin-top: 0;
}

.Content .info p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.Content ul {
  list-style: disc;
  padding: 0;
  margin: 0;
}
.m{
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 270px;
  display: flex;
  
  
}

.Content ul li {
  margin: 0.5rem 0;
  display: inline-block;
}

.Content ul li label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Content button {
  height: 40px;
  min-width: 40px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
}
.deleteButton{
  background-color: red;
}

@media (max-width: 500px) {

  .Content {
    padding: 2.5rem;
    flex-direction: column;
  }

  .Content img {
    align-items: center;
    width: 400px;
    height: 540px;      
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 1rem;
    transition: 0.5s;
    border-radius: 40px;
    image-rendering: optimizeQuality;
  }
 
  .Content .info {
    margin-bottom: 1rem;
  }

  label {
    font-size: 0.9rem;
  }
  .item-container {
    flex-direction: column;
  }
}
.Footer{
  text-align: center;
}
.NewPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.NewPost h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.newPostForm label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.newPostForm input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.newPostForm input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.newPostForm input[type="submit"]:hover {
  background-color: #3e8e41;
}
#postImage{
  width: 200px;
  height: auto;
}
